# Compiled Python files
*.pyc

# virtualenv
venv/
ENV/

# Unit test / coverage reports
htmlcov/
.coverage

# Flask local server
instance/
*.log

# IDEs
.idea/
.vscode/
*.iml

# Dependency directories
env/
venv/
__pycache__/
dist/
build/
*.egg-info/
